<aside class="sidebar">
    <h1 class="sidebar__header">
      <span class="sidebar__title">SEO</span>
      <button class="btn btn--icon icon--arrow-back"></button>
    </h1>
    <div class="sidebar__content">
      <a class="sidebar__item">
        <div class="icon"></div>
        <span>Анализ проекта</span>
      </a>
      <article class="sidebar__item accordion">
        <button class="btn dropdown__toggle icon--toggle-arrow">
          <div class="icon">
            <svg width='20' height='20'>
              <use href='./assets/img/svg/sprite.svg#search'></use>
          </svg>
          </div>
          <span class="accordion__title">Позиции из Я.Вебастер</span>
        </button>
        <ul class="accordion__content dropdown__menu">
          <li class="accordion__item">
            <a>Запросы. Я.Вебмастер</a>
          </li>
          <li class="accordion__item">
            <a>URLs. Я.Вебмастер</a>
          </li>
        </ul>
      </article>
      <a class="sidebar__item">
        <div class="icon"></div>
        <span>Сьем позиции (Live/XML)</span>
      </a>
      <hr class="sidebar__separator">
      <a class="sidebar__item">
        <div class="icon"></div>
        <span>Мои проекты</span>
      </a>
    </div>
  </aside>