.accordion {  
    &__item {
      border-bottom: 1px solid var(--text-color-secondary);
      
      &:last-child {
        border-bottom: none;
      }
    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--main-space);
      cursor: pointer;
      background: var(--bg-primary);
      transition: background 0.3s;
  
      &:hover {
        background: var(--bg-secondary);
      }
    }
  
    &__content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: var(--main-space);
      background: var(--bg-primary);
      outline: none;
    }
  
    &--active {
      &__content {
        display: block;
      }
    }
  }
  