:root {
  --bg-primary: white;
  --bg-secondary: #F7F7F7;
  --text-color-primary: #404040;
  --text-color-secondary: #747474;
  --accent-color: #0076F5;
  --main-space: 1rem;
  --shadow-md: 0 0 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 0 15px rgba(0, 0, 0, 0.1);
}
